* {
	font-family: Arial, Helvetica, sans-serif;
}

.ant-layout-header,
.ant-layout-footer,
.ant-layout-header *,
.ant-layout-footer * {
	/* color: #fff; */
	font-weight: bold;
	text-align: center;
	color: white;
	/* background: blue; */
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
	/* background: #92c8f5; */
	/* background: #528da1; */
}

.ant-layout {
	background-color: transparent;
	/* max-width: 850px; */
}

.ant-layout-content {
	margin-left: auto;
	margin-right: auto;
	width: 850px;
	max-width: 100%;
	/* .ant-layout { */
	margin-top: 64px;
	/* background: green; */
	margin-left: auto;
	margin-right: auto;
}

body {
	background: grey;
}

.error {
	color: red;
	font-weight: red;
}

.exclude-column {
	display: flex;
}
